@tailwind base;
@tailwind components;
@tailwind utilities;

/* == START == */
@layer base {
  :root {
    --foreground: #1f2937;
    --background: #ffffff;

    --card: var(--gray-25);
    --card-foreground: #1f2937;

    --hover: var(--primary-25);
    --active: var(--primary-25);
    --border: var(--gray-100);
    --muted: var(--gray-400);
    --ring: var(--primary-50);
    --radius: 0.5rem;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    /* PRIMARY */
    --primary-25: #f1f4fe;
    --primary-50: #e6ecfe;
    --primary-100: #d4dbfc;
    --primary-200: #a9b8fa;
    --primary-300: #7c90f1;
    --primary-400: #5a6fe4;
    --primary-500: #2940d3;
    --primary-600: #1d30b5;
    --primary-700: #142297;
    --primary-800: #0d177a;
    --primary-900: #070f65;
    /* GRAY */
    --gray-25: #f9fafb;
    --gray-50: #f6f7f8;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
    /* SUCCESS */
    --success-25: #edfdf4;
    --success-50: #c8f9dd;
    --success-100: #a3f5c6;
    --success-200: #7ef1af;
    --success-300: #59ed99;
    --success-400: #35e982;
    --success-500: #18dd6c;
    --success-600: #14b85a;
    --success-700: #109348;
    --success-800: #0c6e36;
    --success-900: #084a24;
    /* INFO */
    --info-25: #edf7fd;
    --info-50: #c8e6f9;
    --info-100: #a3d5f5;
    --info-200: #7ec4f1;
    --info-300: #59b3ed;
    --info-400: #34a2e9;
    --info-500: #188fdd;
    --info-600: #1477b8;
    --info-700: #106093;
    --info-800: #0c486e;
    --info-900: #08304a;
    /* WARNING */
    --warning-25: #fffbeb;
    --warning-50: #fef3c7;
    --warning-100: #fde68a;
    --warning-200: #fcd34d;
    --warning-300: #fbbf24;
    --warning-400: #f59e0b;
    --warning-500: #d97706;
    --warning-600: #b45309;
    --warning-700: #92400e;
    --warning-800: #78350f;
    --warning-900: #451a03;
    /* DANGER */
    --danger-25: #fff1f2;
    --danger-50: #ffe4e6;
    --danger-100: #fecdd3;
    --danger-200: #fda4af;
    --danger-300: #fb7185;
    --danger-400: #f43f5e;
    --danger-500: #e11d48;
    --danger-600: #be123c;
    --danger-700: #9f1239;
    --danger-800: #881337;
    --danger-900: #4c0519;
  }

  .dark {
    /* GRAY */
    --gray-900: #f9fafb;
    --gray-800: #f6f7f8;
    --gray-700: #f3f4f6;
    --gray-600: #e5e7eb;
    --gray-500: #d1d5db;
    --gray-400: #9ca3af;
    --gray-300: #6b7280;
    --gray-200: #4b5563;
    --gray-100: #374151;
    --gray-50: #1f2937;
    --gray-25: #111827;

    --foreground: #fff;
    --background: #0b0e1e;

    --card: var(--gray-25);
    --card-foreground: #fff;

    --border: #262b4260;
    --hover: #f3f4f60a;
    --active: #f3f4f60a;
    --ring: #5a6fe440;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
  }

  body {
    color: var(--foreground);
    background-color: var(--background);
  }

  h1 {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 1.875rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.25rem;
  }

  p {
    @apply text-base font-normal leading-normal;
  }

  .glassy-overlay {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.bg-skeleton {
  @apply bg-gray-50;
}

/* ===== SIMPLEBAR SCROLL BAR ===== */
.simplebar-scrollbar:before {
  @apply bg-slate-200 dark:bg-slate-600;
}

.simplebar-track.simplebar-horizontal {
  height: 9px;
}

.simplebar-track.simplebar-vertical {
  width: 9px;
  @apply rtl:left-0 rtl:right-auto;
}

/* ===== VUE-3 APEXCHART ===== */
.apexcharts-tooltip {
  @apply !shadow-lg !border-0 !rounded-lg;
}

.apexcharts-tooltip-title {
  @apply font-medium;
}

.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
  @apply !border-b-gray-100 !bg-slate-100;
}

.apexcharts-tooltip.apexcharts-theme-dark .apexcharts-tooltip-title {
  @apply !bg-slate-700 !border-b-border;
}

.apexcharts-tooltip.apexcharts-theme-dark,
.apexcharts-xaxistooltip.apexcharts-theme-dark {
  @apply !bg-slate-700/70;
}

.apexcharts-xaxistooltip {
  @apply !shadow-xs !border-0 !rounded-lg font-medium;
}

.apexcharts-xaxistooltip-bottom:before {
  @apply !border-0;
}

.apexcharts-xaxistooltip-bottom.apexcharts-theme-dark:before {
  @apply !border-slate-700/70;
}

.apexcharts-legend-marker {
  @apply rtl:!ml-1 rtl:!mr-auto;
}

.apexcharts-tooltip-series-group {
  @apply rtl:!text-right;
}
.apexcharts-tooltip-marker {
  @apply rtl:!ml-2 rtl:!mr-auto;
}

/* ===== N-PROGRESS ===== */
#nprogress .bar {
  z-index: 9999 !important;
  @apply !bg-primary;
}

#nprogress .peg {
  @apply !shadow-none;
}
